[Unit]
Description=Initializations for dhcp client running on multiple virtual interfaces
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/interfaces_init.sh
ExecStart=/bin/bash /usr/local/sbin/firewall_init.sh
TimeoutStartSec=0

[Install]
WantedBy=network.target
